{% extends 'nav.html' %}
{% block content %}
<p>QA Cinemas is an industry-recognized cinema chain with a rich history spanning over 20 years. Established in 2004, we have been passionately serving the cinema and film community in the northeast of England.</p>

<h2>Our Specialization</h2>
<p>At QA Cinemas, we specialize in bringing you the best of both worlds. We offer the latest blockbuster releases, ensuring you stay up-to-date with the hottest films of the moment. But that's not all! We also take pride in hosting special showings of classic films from the 60s to the 90s, giving you a chance to relive the magic of cinema's golden era.</p>

<h2>Visit Us Today</h2>
<p>Come and experience the magic of cinema at QA Cinemas. Whether you're a film enthusiast or just looking for a fun night out, our state-of-the-art theaters and friendly staff are here to make your visit memorable.</p>
{% endblock %}