{% extends 'nav.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="/static/images/james.JPG" class="img-fluid rounded-start"
                alt="Photo of James" style="height: 250px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">James Bryer</h5>
                <p class="card-text">My favourite movie: El Camino </p>
                <p class="card-text">A movie from my birth year: The Truman Show</p>
                <p class="card-text"><small class="text-muted" id="release-date">Released: 1998</small></p>
                <a href="https://www.linkedin.com/in/james-bryer-a87826264/" target="_blank" class="btn btn-primary">Connect Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="/static/images/andrei.jpeg" class="img-fluid rounded-start"
                alt="Photo of Andrei" style="height: 250px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Andrei Turcila</h5>
                <p class="card-text">My favourite movie: Alien </p>
                <p class="card-text">A movie from my birth year: Me, Myself, and Irene</p>
                <p class="card-text"><small class="text-muted" id="release-date">Released: 2000</small></p>
                <a href="https://www.linkedin.com/in/andrei-turcila-34a592180" target="_blank" class="btn btn-primary">Connect Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="/static/images/woj.png" class="img-fluid rounded-start"
                alt="Photo of Woj" style="height: 250px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Wojciech Przybylski</h5>
                <p class="card-text">Hi I'm Woi!! </p>
                <p class="card-text"><small class="text-muted" id="release-date">Released: TBC</small></p>
                <a href="" target="_blank" class="btn btn-primary">Connect Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="/static/images/mitchell.jpg" class="img-fluid rounded-start"
                alt="Photo of Mitchell" style="height: 250px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Mitchell Newman</h5>
                <p class="card-text">Hi I'm Mitchell!! </p>
                <p class="card-text"><small class="text-muted" id="release-date">Released: TBC</small></p>
                <a href="" target="_blank" class="btn btn-primary">Connect Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="/static/images/hawa.jpeg" class="img-fluid rounded-start"
                alt="Photo of Hawa" style="height: 250px; width: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Hawa Abdallah</h5>
                <p class="card-text">Hi I'm Hawa!! </p>
                <p class="card-text"><small class="text-muted" id="release-date">Released: TBC</small></p>
                <a href="" target="_blank" class="btn btn-primary">Connect Now!</a>
            </div>
        </div>
    </div>
</div>
<p>QA Cinemas is an industry-recognized cinema chain with a rich history spanning over 20 years. Established in 2004, we have been passionately serving the cinema and film community in the northeast of England.</p>

<h2>Our Specialization</h2>
<p>At QA Cinemas, we specialize in bringing you the best of both worlds. We offer the latest blockbuster releases, ensuring you stay up-to-date with the hottest films of the moment. But that's not all! We also take pride in hosting special showings of classic films from the 60s to the 90s, giving you a chance to relive the magic of cinema's golden era.</p>

<h2>Visit Us Today</h2>
<p>Come and experience the magic of cinema at QA Cinemas. Whether you're a film enthusiast or just looking for a fun night out, our state-of-the-art theaters and friendly staff are here to make your visit memorable.</p>
<h2>Contact</h2>
<p>Our contact number is: 05483 484723</p>
<p>More information on how to contact us can be found on our <a href="/contact-us">contact page</a></p>
{% endblock %}