{% extends 'nav.html' %}
{% block content %}

<h2>Book tickets for: {{ movie.title }}</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="form" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.showing_id.label(class="form-label") }}
                    {{ form.showing_id(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.child_tickets.label(class="form-label") }}
                    {{ form.child_tickets(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.adult_tickets.label(class="form-label") }}
                    {{ form.adult_tickets(class="form-control") }}
                </div>
                <div class="mb-3">
                    <p id="total"></p>
                </div>
                <button type="submit" class="btn btn-primary">Next: Payment</button>
            </form>

        </div>
    </div>
</div>
<script>
    var child_tickets = document.getElementById("child_tickets");
    var adult_tickets = document.getElementById("adult_tickets");

    // Disable typing by preventing keydown and keypress events
    child_tickets.addEventListener("keydown", function (event) {
        event.preventDefault();
    });

    child_tickets.addEventListener("keypress", function (event) {
        event.preventDefault();
    });

    adult_tickets.addEventListener("keydown", function (event) {
        event.preventDefault();
    });

    adult_tickets.addEventListener("keypress", function (event) {
        event.preventDefault();
    });

    function updateTotal() {
        // get child_tickets value
        var child_tickets_value = child_tickets.value;
        // get adult_tickets value
        var adult_tickets_value = adult_tickets.value;

        // if child_ticket value is less than 0, set to 0
        if (child_tickets_value < 0) {
            child_tickets.value = 0;
        }

        // if adult_ticket value is less than 0, set to 0

        if (adult_tickets_value < 0) {
            adult_tickets.value = 0;
        }
        // calculate total
        var total = child_tickets_value * 5 + adult_tickets_value * 10;
        // update total
        // if total is negative, set to 0
        if (total < 0) {
            total = 0;
        }
        document.getElementById("total").innerHTML = "Total: £" + total;
    }

    child_tickets.addEventListener("change", updateTotal);
    adult_tickets.addEventListener("change", updateTotal);
</script>

{% endblock %}