<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <footer>
        <div class="footer-container"></div>
        <div class="footer">
            <div class="footer-heading">
                <h2><a href="#">Home</a></h2>
                <h2><a href="#">Contact Us</h2>
                <h2> <a href="#">About Us</a></h2>
            </div>
        </div>
    </footer>
</body>
</html>
