{% extends 'navbar.html' %}

{% block content %}
<div class = "home-content">
    <h2> Welcome to QA store! </h2>
    <p> We are passionate about all things technology. <br> Our mission is
    to provide a variety of different technology including phones, laptops and TVs at affordable prices. </p>
    <p> At the QA Store we also provide a global delivery service!</p>
    <br>
    <p>Browse our range of products using the NavBar above!</p>
</div>
    <br>
    <hr>
    <br>
<div class="about-content">
    <h2> About Us </h2>
    <p> Hello! </p>
    <p>Founded in August 2023, here at the QA store we hope to be able to provide affordable technology to anyone all around the globe.</p>
    <br>
    <hr>
    <br>
    <h3> Contact Us</h3>
    <p> We can be reached via email or telephone, both of which are provided below: <br>
    Email: QAstore@QA.com <br>
    Telephone Number: 0123456789</p>
    <img src="static/images/phone_icon.jpeg" alt="Phone icon"> <img src="static/images/email_icon.jpeg" alt="Email icon">
    <br>
    <hr>
    <br>
    <h3> Our Values </h3>
    <p>We are committed to providing affordable technology globally. <br> We work with both new and recycled devices to help reduce our carbon footprint.
    <br>We pride ourselves on efficient delivery of our products.</p>
    <img src="static/images/home_image1.jpg" alt="Image of example devices">

</div>

{% endblock %}