{% extends 'nav.html' %}
{% block content %}
<img src="{{ url_for('static', filename=movie.image) }}" alt="{{ movie.name }}" class="img-fluid" width="300px">
<h2>{{ movie.name }}</h2>
<h3 class="date">{{ movie.release_date }}</h3>
<h3>Genres:</h3>
<ul>
    {% for genre in genre_names %}
    <li>{{ genre }}</li>
    {% endfor %}
</ul>
<h3>Director:</h3>
<ul>
    {% for director in director_names %}
    <li>{{ director }}</li>
    {% endfor %}
</ul>
<h3>Actors:</h3>
<ul>
    {% for actor in actor_names %}
    <li>{{ actor }}</li>
{% endfor %}
</ul>
<h3>Showings:</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Screen</th>
            <th> Date & Time</th>
            <th>Available Seats</th>
        </tr>
    </thead>
    <tbody>
        {% for screening in showings %}
        <tr>
            <td>Screen {{ screening.screen_number }}</td>
            <td>{{ screening.date }}</td>
            <td>{{ screening.seats_available }}</td>
        </tr>
        {% endfor %}

</table>
<a href="{{ url_for('book_tickets', movie_id=movie.id) }}"><button class="btn btn-primary">Book Tickets</button></a>
<br><br>
<script>
    dates = document.querySelectorAll('h3.date');
    for (let i = 0; i < dates.length; i++) {
        let dateText = dates[i].innerText;  // Corrected variable name
        // remove all but first 4 chars from date
        dateText = dateText.substring(0, 4);
        // update date value
        dates[i].innerText = dateText;  // Corrected variable name
    }
</script>
{% endblock %}

