
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}


header {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}


.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #FFD700; 
}


.hero {
    background-image: url('html\templates\static\images\sleekbackground.jpg'); 
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.hero p {
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
}


.movie-card {
    background-color: #333; 
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-card h3 {
    margin: 10px 0;
    color: #fff;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; 
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #FFC100; 
    transform: scale(1.05); 
}

